<div class="container">
  <tabset>
    <tab heading="grid first">
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of grid_list_f" [ngClass]="list.Score | tableRow">
            <td>{{list.Name}}</td>
            <td>{{list.Surname}}</td>
            <td>{{list.Score}}</td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="grid second">
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of grid_list_s" [ngClass]="list.Score | tableRow">
            <td>{{list.Name}}</td>
            <td>{{list.Surname}}</td>
            <td>{{list.Score}}</td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</div>
